#search{
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: aqua;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
h1{
    font-family: Merienda,Helvetica;
    font-size: 2em;
}
#box1{
    border-radius: 25px;
    height: 180px;
    width: 140px;
    border: solid, black;

}
img{
    border: dotted;
    border-radius: 25px;
    height: 160px;
    width: 120px;

}
#box2{
    height: 300px;
    width: 200px;
    border: solid, black;
    background-color: #ffbd59;
}
#box3{
    height: 300px;
    width: 200px;
    border: solid, black;
    background-color: #ffbd59;
}
#box4{
    height: 300px;
    width: 200px;
    border: solid, black;
    background-color: #ffbd59;
}
#box5{
    height: 200px;
    width: 200px;
    border: solid, black;
}
#box6{
    height: 200px;
    width: 200px;
    border: solid, black;
}
p{
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    color: hsl(0, 0%, 4%);
}

h2{
    color: #4f8da4;
    font-size: 1em;
}
